*{
    font-family: "Barrio";
}
h2{
    font-family: "Barrio";
}


#welcome{
    font-family: "Barrio";
}
#weird{
    font-family: "Barrio";
}
#portfolio{
    font-family: "Barrio ";
    background-color: #343a40!important;
    padding-top: 50px;
    padding-bottom: 50px;
  
}

#come{
    font-family: "Barrio";
    
}
#headerText{
    font-family: "Barrio";
    color: rgba(255,255,255,.7);
    
}

#mainNav .navbar-nav .nav-item .nav-link{
    font-family: "Barrio";

}
#services{
    font-family: "Barrio";
    background-color: #f8f9fa!important;
}
/* #marleyAndMe{ */
    /* background-image: url(/Users/markwarness/Desktop/homework/Portfolio-updated/img/marleyAndMe.jpg); The image used */
    /* background-color: #cccccc; Used if the image is unavailable */
    /* height: 500px; You must set a specified height */
    /* background-position: center; Center the image */
    /* background-repeat: no-repeat; Do not repeat the image */
    /* background-size: cover; Resize the background image to cover the entire container */
    /* border-radius: 50%; */
/* }    */
    
#containerMarley{
    position: relative;
    width: 100%;
    vertical-align: center;
}
      
#imageMarley {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 100%;
}
      
#overlayMarley {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border-radius: 100%;
}
      
#containerMarley:hover #overlayMarley {
    opacity: 1;
}

#textMarley {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


#trigger{
    display: inline-block;
    vertical-align: bottom;
    font-family: "Barrio" !important;
    

}
#about{
    padding-top: 80px;
    padding-bottom: 35px;
    background-color:rgb(220,220,220) !important;
}

#aboutHeader{
    padding-top: 20px;
    color: black !important;
}
#centerLove{
    margin-left: 37.5%
}

#marley{
    background:#343a40!important;
}

  

    

#peace{
    background-color: white !important;
    
}
#contact{
    padding-bottom: 32px;
    padding-top: 32px;
}
footer{
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}
#columnBorder{
    padding-bottom: 20px;
}
#portfolioHeader{
    
    color:#f8f9fa !important;
    -webkit-text-decoration:#f8f9fa double overline;
    text-decoration: #f8f9fa double overline;
    -webkit-text-decoration-skip: space;
    text-decoration-skip: space;
    -webkit-text-decoration: #f8f9fa double underline;
    text-decoration: #f8f9fa double underline;
    -webkit-text-decoration-skip: space;
    text-decoration-skip: space;
    font-family:"Barrio" !important;
    display: inline-block !important;
    margin: auto !important;
    text-align: center !important;
    width: 100%;
    font-size: 50px;

}
.fullstack{
    text-align: center;
    margin: auto;
    display: inline-block;
}

.bg-light{
    background:#343a40!important;

}
/* 
.textLink{

} */




